body {
	background-color:white;
	height: 60vh;
	display:flex;
	justify-content: space-around;
	align-items:center;
	flex-direction: column;
	font-family: sans-serif;
}
h1{
	font-family: sans-serif;
	color:green;
	font-size: 50px


}


.form{

	width: 50%;
	position: relative;
	height:50px;
	overflow: hidden


}

.form input{
	width:100%;
	height:100%;
	color:#52985f;
	padding-top: 25px;
	border:none;
	outline: none
}


.form label {
	position: absolute;
	bottom:0px;
	left:0%;
	width:100%;
	height:100%;
	pointer-events: none;
	border-bottom: 1px solid black
}
.form label::after{
	content:"";
	position:absolute;
	left:0px;
	bottom:-1px;
	height:100%;
	width:100%;
	border-bottom: 3px solid #52985f;
	transform:translateX(-100%);
	transition: transform 1.3s ease
}
.content-name{
	position:absolute;
	bottom:5px;
	left:0px;
	transition: all 1.3s ease;
}

.form input:focus + .label-name .content-name,
.form input:valid + .label-name .content-name{
	transform: translateY(-150%);
	font-size:14px;
	color:#52985f;
}
.form input:focus + .label-name::after,
.form input:valid + .label-name::after {
transform: translateX(0%);
}

.submitClass{
	background-color: pink;
	  border: none;
	  color: white;
	  padding: 15px 32px;
	  text-align: center;
	  text-decoration: none;
	  display: inline-block;
	  font-size: 16px;
}
.p{
	border:2px solid;
	color:Green;
	outline:none;
	resize:horizontal;
	width: 1000px;
	overflow:auto;
}
.p:active{
	width:auto;
}
.p:focus{
	min-width:500px;
}




.Encode{
	vertical-align: baseline;
}
.Radio{
	top:100px;
}
