.game {
  position: fixed;
  top: 0px;
  background-color: transparent;
  color: white;
  border: none;
  outline: none;
}

.Off {
  Position: fixed;
  background-color: transparent;
  color: transparent;
  border: none;
  outline: none;
}

.On {
  margin: 0 auto;
  position: fixed;
  background-color: red;
  color: black;
  border-radius: 100%;
  border: 1px solid red;
  height: 500px;
  width: 500px;
  outline: none;
}

body {
  overflow: hidden;
}

.wrap {}